body {
    margin: 0px;
  }
  
.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(229, 198, 0);
    height: 60px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    

    .logo {
        color: #fff;
        font-size: 30px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }
    .search {
        width: 200px;
        height: 30px;
        margin-right: 100px;
        border: none;
        border-radius: 15px;
    }
    .cart {
        position: relative;
        left: 710px;
        cursor: pointer;
        background-color: white;
        border-radius: 100%;
    }
}
 
.container {
    padding: 0px 100px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

    .item {
        border-radius: 30px;
        border: 2px solid #4c4c4c;
        padding: 20px 15px;
        transition: 0.3s;
        margin: 50px 0px;
        font-style: none;
        display: block;
        box-sizing: border-box;
        font-size: 30px;
        position: relative;
        text-decoration: none;
        color: #000;

        &:hover {
            border-color: rgb(229, 198, 0);
            transition: 0.3s;
        }
        .cost {
            text-align: end;
            color: rgb(0, 185, 0);
            font-size: 30px;
            position: absolute;
            right: 20px;

            .grn {
                color: black;
            }
        }
        .add {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            width: 200px;
            height: 45px;;
            font-size: 20px;
            margin-top: 5px;
            text-align: center;
            border-radius: 5px;
            background-color: rgb(46, 229, 0);
            color: white;
            

            &:hover {
                background-color: rgb(255, 255, 255);
                color: black;
                transition: 0.3s;
            }
            
        }
        
    }
}